.btn {
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    transition: all .25s ease;
    color: #fff;
    border: none;
    outline: none;
}

.btn + .btn {
    margin-left: 10px;
}

.btn:active {
    transform: scale(.9)
}

.btn:focus {
    outline: none;
}

.default {
    background: #3498db;
    border: 1px solid #3498db;
}

.default:hover {
    background: #3cb0fd;
}

.success {
    background: #2EC4B6;
    border: 1px solid #2EC4B6;
}

.success:hover {
    background: #5dd9cd;
}

.flat {
    border: 1px solid #E5E5E5;
    color: #131E38;
    background: transparent;
}

.flat:hover {
    background-color: #E5E5E5;
}

.danger {
    background: #E71D36;
    border: 1px solid #E71D36;
}

.danger:hover {
    background: #EB465A;
}