.form {
    width: 100%;
    padding: 40px;
    background-color: #f5f5f5;
}

.form label {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.form input, textarea {
    padding: 4px 6px;
    width: 100%;
}

.form input {
    height: 50px;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    background-color: #fff;
}

.fieldSet {
    margin-bottom: 20px;
}

.formControls {
    text-align: right;
    border-top: 1px solid #E5E5E5;
    margin-top: 30px;
    padding-top: 30px;
}


@media (max-width: 767px) {
    .formControls > * {
        display:block;
        margin-left: 0px!important;
        margin-right:10px;
        margin-top:10px;
        width:100%;
    }
}