.container {
    color: #011627;
    padding: 20px;
    padding-right: 0;
    border: 1px solid #F0F0F0;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    grid-auto-rows: max-content;
    grid-gap: 10px;
    cursor: pointer;
    transition: all .25s ease;
    width: 100%;
}

@media (max-width: 765px) {
    .container {
        font-size: 12px;
    }
}

.container:hover {
    filter: drop-shadow(3px 3px 4px gray);
}

.lowPriority {
    background: #FDFFFC;
}

.normalPriority {
    background: #C6EEEB
}

.highPriority {
    background: #F8C1C8;
}

.completed {
    color: #B9BFC4;
    background: #26A195;
}

.completed .actionLink {
    color: #fff;
}

.switch {
    width: 20px;
    height: 20px;
}

.dateText {
    font-size: 10px;
    color: #286293;
}

.noteText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.noteTextExpanded {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.actionLink {
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
}

.actionLink:hover {
    text-decoration: underline;
}

.actionLink {
    color: #8B8B8B;
}
