.pageHeader {
    position: relative;
}

.pageHeader button {
    position: absolute;
    right: 0;
    top: 0;
}

.filtersContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap:10px;
    margin-bottom:20px;
}

@media (max-width: 765px) {
    .filtersContainer {
        grid-template-columns: 1fr;
    }
}