.header {
    padding: 20px 20px;
    border-bottom: 1px solid #E5E5E5;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 10px;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #14213D;
    text-decoration: none;
    transition: color .3s ease;
}

@media (max-width: 767px) {
    .logo {
        font-size: 18px;
    }
}

.logo:hover {
    color: #29354E;
}

.logo:visited {
    text-decoration: none;
}